<!-- Home Section -->

<section id="home" class="main-about parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>About Me</h1>
            </div>

        </div>
    </div>
</section>

<!-- About Section -->

<section id="about">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="col-md-4 col-sm-4">
                    <h2>Myself</h2>
                    <p>
                        Nice to meet you today, first of all, I would like to thanks everyone take a look to my blog website.
                    </p>
                    <p>My name is Hong Phat, Im twenty two years old. I am currently living in HCM city.</p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <h2>Programming</h2>
                    <p>I love information technology in general and web programming in particular because technology is now everywhere.</p>
                    <p>They are constantly evolving there are many more benefits that information technology brings to our lives.</p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <h2>My Goal</h2>
                    <p>About short term, as a fresher, I would like to learn, experience and work in the company's projects.</p>
                    <p>About long term goals, to become a senior/master of .NET developer. Try my best to archive company's goal.'</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <h3>.NET Core Framework</h3>
                    <p>.NET framework developed by Microsoft is popular and help dev make a website easier, further more the demand for recruiting .NET framework developers is increasing with many attractive benefit that information technology brings to our lives.</p>
                    <p>One of the products of information technology that we see every day is websites. If you want buy or sell something fast, we have shooping website etc.</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <img src="~/content/static/NetLogo.png" class="img-responsive" alt="About Image">
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/static/greenstore-img.png" class="img-responsive" alt="Blog Image">
                    <h3>Green Store Shop</h3>
                    <p>Ecommerce project that sell many type of product, more detail at link below</p>
                    <a href="http://greenstorev1.somee.com">link website demo</a> /
                    <a href="https://github.com/PhatNguyen1701/IT_Product_Ecommerce_Green_Store.git">link github</a>
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/static/phatblogger-img.png" class="img-responsive" alt="Blog Image">
                    <h3>Phat blogger website</h3>
                    <p>Personal blog website with morden design template, more detail at link below</p>
                    <a href="http://phatblogger.somee.com">link website demo</a> /
                    <a href="https://github.com/PhatNguyen1701/Phat_Blogger_Website_Project.git ">link github</a>
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="~/content/static/bookstore-img.jpg" class="img-responsive" alt="Blog Image">
                    <h3>Bookstore management</h3>
                    <p>Restful API for management bookstore app, more detail at link below</p>
                    <a href="https://github.com/PhatNguyen1701/ASP-NET-CORE-RESTFUL-API-BOOKSTORE-MANAGEMENT.git">link github</a>
                </div>

            </div>
        </div>
</section>